/** App */

* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    box-sizing: border-box;
}

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
    #app-container {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    #app-container {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}