/** App_Row */

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
   #app-row {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        color: #c1c1cf;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #row_container {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        border: #3a3d3f solid 0.1rem;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
    }

    #row_title {
        margin: 0rem;
        padding: 0.5rem;
        background-color: #333739;
        color: #87cefa;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    #app-row {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #row_container {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        border: #3a3d3f solid 0.1rem;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
    }

    #row_title {
        margin: 0rem;
        padding: 0.5rem;
        background-color: #333739;
        color: #87cefa;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;
    }
}