/** App_Footer */

* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    box-sizing: border-box;
}

#footer {
    margin: 0rem;
    padding: 1rem;
    text-align: center;
    background-color: #131212;
    color: #c1c1cf;;
}