/** App_Aside */

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
    #app-aside {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        color: #c1c1cf;
        ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #aside_container_title {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        border: #3a3d3f solid 0.1rem;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aside_container {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        color: #c1c1cf;
        border: #3a3d3f solid 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
    }

    #aside-img {
        margin: 0.2rem;
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
        border: #3a3d3f solid 0.2rem;
    }

    #aside_title {
        margin: 0rem;
        padding: 0.5rem;
        background-color: #333739;
        color: #87cefa;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    #app-aside {
        margin: 0rem;
        padding: 1rem;
        background-color: #2C2F31;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aside_container_title {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        border: #3a3d3f solid 0.1rem;
        color: #c1c1cf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aside_container {
        margin: 0.5rem;
        padding: 1rem;
        background-color: #333739;
        color: #c1c1cf;
        border: #3a3d3f solid 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
    }

    #aside-img {
        margin: 0.2rem;
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #3a3d3f solid 0.2rem;
    }

    #aside_title {
        margin: 0rem;
        padding: 0.5rem;
        background-color: #333739;
        color: #87cefa;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;
    }

}